/*Colors:
Body Black: #08060e
Charcoal: #333031
Semi-transparent charcoal:  color: rgba(8, 6, 14, 0.3)
Selection grey: rgba(181, 181, 181, 0.3)
*/

.btn,
.btn:link,
.btn:visited {
	letter-spacing: 0.05em;
    display: inline-block;
    background-color: #333031;
	text-transform: uppercase;
    color: #fff;
    padding: 0.5em 0.85em;
    border-radius: 1px;
    border-bottom: 0;
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

.btn:hover,
.btn:active,
btn:focus {
    box-shadow: inset 0px 0px 0px 2em #fff;
	color: #333031;
	border-bottom: 0;
}

.btn-alt,
.btn-alt:link, 
.btn-alt:visited {
	color: #333031;
    background: none;
	border: solid 0.08em #333031;
}

.btn-alt:hover,
.btn-alt:active,
.btn-alt:focus {
	border-bottom: 0;
	box-shadow: inset 0px 0px 0px 2em #333031;
	color: #FFF;
}

button {
	-webkit-appearance:none;
	appearance: none;
	box-shadow:none;
	border: none;
	outline:none;
	cursor: pointer;
}