/*
Colors:
Dark Green: #8fa158 rgba(143,161,88,1)
Light Green: #dac659 rgba(218,198,89,1)
Lightest Green: #d5e494 rgba(213,228,148,1)
*/

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    background-color: #68446e;
    color: #fff;
    padding: 0.35em 0.85em;
    border-radius: 4px;
    box-shadow: 0px 1px #0a2d43,0px 2px #0a2d43,0px 3px #0a2d43,0px 4px #0a2d43;
    border-bottom: 0;
}

.btn-alt,
.btn-alt:link, 
.btn-alt:visited {
    background-color: #5d8432;
    box-shadow: 0px 1px #0a2d43,0px 2px #0a2d43,0px 3px #0a2d43,0px 4px #0a2d43;
}