/*Colors:
Body Black: #08060e
Charcoal: #333031
Semi-transparent charcoal:  color: rgba(8, 6, 14, 0.3)
Selection grey: rgba(181, 181, 181, 0.3)
*/

.search {
	position:relative;
}

input[type=search] { 
	-webkit-appearance:none;
	appearance: none;
	box-shadow:none;
	height: 2rem;
	border: solid 0.08rem #333031;
	outline:none;
	color: #333031;  
	display: block; 
	width: 100%; 
	box-shadow: none;
	padding: 1em;
	font-family: 'Lato', sans-serif;
}

.search-icon { 
	position:absolute;
	display: inline-block;
	height: 1.25rem;
	width: 1rem;
	right:0.5rem;
	top: 0.35rem;
	content:url(../images/search.svg);
	background: none;
	border-left: solid 0.08rem #333031;
	padding-left: 0.45rem;
}

::-webkit-input-placeholder { 
    color:    #333031;
}
:-moz-placeholder { 
    color:    #333031;
}
::-moz-placeholder { 
    color:    #333031;
}
:-ms-input-placeholder { 
    color:    #333031;
}