@charset "UTF-8";
/* CSS Document */

/*Colors:
Body Black: #08060e
Charcoal: #333031/181718
Light Charcoal: #302f34
Semi-transparent charcoal:  color: rgba(8, 6, 14, 0.3)
Selection grey: rgba(181, 181, 181, 0.3)
*/

header {
	background-color: #181718;
	border-bottom: solid 1px #181718;
	position:fixed;
	width:100%;
	z-index:8000;
}

.logo {
	background-image:url(../images/albert-logo-01.svg);
	background-repeat: no-repeat;
	background-position: 4% center;
	background-size: contain;
	height: 4rem;
}

.banner {
	background: #181718 url("../images/banner.jpg") no-repeat center center;
	background-size: cover;
	padding: 5rem 0;
}

.banner h2 {
	text-align:center;
	color: #FFF;
}

.current {
	background-color: rgba(8, 6, 14, 0.3);
}

nav {
	width:100%;
	position:fixed;
	overflow:hidden;
	height: auto;
	text-align:center;
	background-color:#303030;
	top: 4rem;
}

nav ul li {
	position:relative;
	top: 0rem;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	color:#fff;
	line-height:4rem;
	text-align:center;
	text-indent: -10%;
	display: block;
	height: 4rem;
	width: 33.33%;
	background: transparent url("../images/nav-icon.svg") no-repeat left center;
}

nav a, 
nav a:link,
nav a:visited{
	display: block;
	text-align:center;
	text-decoration: none;
    color: #fff;
	padding: 1rem;
}

/*Toggle Nav*/

.nav-top {
    max-height: 0;
    -webkit-transition: max-height 250ms linear;
}

.nav-top[data-state="expanded"]{
    max-height: 25em;
    height: auto;
}