/*Colors:
Body Black: #08060e
Charcoal: #333031/181718
Light Charcoal: #302f34
Semi-transparent charcoal:  color: rgba(8, 6, 14, 0.3)
Selection grey: rgba(181, 181, 181, 0.3)
*/

.product-list {
	font-size: 100%;
	width: 100%;
	text-align:left;
	border: none;
	padding: 1em;
}

.product-list .media:first-child {
	border-top: solid 0.1em #181718;
}

.product-list .media {
	border-bottom: solid 0.1em #181718;
	padding: 1em 0.5em;
}

.product-list p{
	margin: 0;
}