/*Colors:
Body Black: #08060e
Charcoal: #333031
Semi-transparent charcoal:  color: rgba(8, 6, 14, 0.3)
Selection grey: rgba(181, 181, 181, 0.3)
*/

input[type=search] { 
	-webkit-appearance:none;
	appearance: none;
	box-shadow:none;
	height: 2rem;
	border: solid 0.08rem #333031;
	outline:none;
	color: #333031;  
	display: block; 
	width: 25em; 
	box-shadow: none;
	padding: 1em;
	font-family: 'Lato', sans-serif;
	display: inline-block;
	margin-right: 8px;
}

.search-icon { 
	position:absolute;
	display: inline-block;
	height: 2rem;
	width: 1rem;
	content:url(../images/search.svg);
	background: none;
}

::-webkit-input-placeholder { 
    color:    #333031;
}
:-moz-placeholder { 
    color:    #333031;
}
::-moz-placeholder { 
    color:    #333031;
}
:-ms-input-placeholder { 
    color:    #333031;
}