@charset "UTF-8";
/* CSS Document */

/*Colors:
Body Black: #08060e
Charcoal: #333031
Semi-transparent charcoal:  color: rgba(8, 6, 14, 0.3)
Selection grey: rgba(181, 181, 181, 0.3)
*/

*,
*:after,
*:before {
	margin:0;
	padding: 0;
}

html {
   font: normal 90%/1.5 'Lato',serif; /* 16px/24px */
	color: #08060e;
}

body {
    margin: 0 auto;
    padding: 0;
}

::selection {
    background-color: rgba(181, 181, 181, 0.3);
    color: black;
}

.align-centre {
	text-align:center;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl,
blockquote, table, hr {
  margin: 0 0 1.5rem;
}

.yotta {
  font-size: 3.5832rem;
  line-height: 1.2559;
}

.zetta {
  font-size: 2.9860rem;
  line-height: 1.0047;
}

h1, .exa {
  font-size: 2.4883rem;
  line-height: 1.2056;
}

h2, .peta {
  font-size: 2.0736rem;
  line-height: 1.4468;
}

h3, .tera {
  font-size: 1.7280rem;
  line-height: 1.7361;
}

h4, .giga {
  font-size: 1.4400rem;
  line-height: 1.0417;
}

h5, .mega {
  font-size: 1.2000rem;
  line-height: 1.2500;
}

h6, .kilo {
  font-size: 1.0000rem;
  line-height: 1.5000;
}

small, .milli, caption, th, cite {
  font-size: 0.8333rem;
  line-height: 1.8000;
}

.micro, sub, sup {
  font-size: 0.6944rem;
  line-height: 2.1600;
}

.push {
  margin-bottom: 1.5rem;
}

.push-none, .push-0 {
  margin-bottom: 0;
}

.push-double, .push-2 {
  margin-bottom: 3.0000rem;
}

.push-half, .push-1-2 {
  margin-bottom: 0.7500rem;
}

.pad-top, .pad-t {
  padding-top: 1.5rem;
}

.pad-bottom, .pad-b {
  padding-bottom: 1.5rem;
}

.pad-top-double, .pad-t-2 {
  padding-top: 3.0000rem;
}

.pad-bottom-double, .pad-b-2 {
  padding-bottom: 3.0000rem;
}

.pad-top-half, .pad-t-1-2 {
  padding-top: 0.7500rem;
}

.pad-bottom-half, .pad-b-1-2 {
  padding-bottom: 0.7500rem;
}

.island {
  margin-bottom: 1.5rem;
  padding: 1.5rem;
}

.island-half, .island-1-2 {
  padding: 0.7500rem;
}

.island-double, .island-2 {
  padding: 3.0000rem;
}

.gutter {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.gutter-half, .gutter-1-2 {
  padding-left: 0.7500rem;
  padding-right: 0.7500rem;
}

.gutter-double, .gutter-2 {
  padding-left: 3.0000rem;
  padding-right: 3.0000rem;
}

h1, h2, h3, h4, h5, h6,
.brand, dt, th, cite {
    color: #333031;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
	letter-spacing: 0.07em;
}

.brand-face {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.brand-color, strong, b {
    color: #333031;
}

a,
a:link
a:visited {
    text-decoration:none;
    color: #08060e;
    border-bottom: 0.1em solid rgba(8, 6, 14, 0.1);
    transition: all 200ms linear;
}

a:hover,
a:active,
a:focus {
   color: #08060e;
	border-bottom: 0.13em solid rgba(8, 6, 14, 0.3);
}

ul {
    list-style-type:none;
}

ul li {
    position: relative;
	margin: 0 auto;
}

ul li:before {
    content: "•";
    color: rgba(8, 6, 14, 0.3);
    font-size: 0.1em;
    position: absolute;
    left: -1.95em;
    top: 0.43em;
}

hr {
    font-size: 2em;
    line-height: 1;
    text-align: center;
    margin: 1em 0 2em;
    border: 0;
    padding: 0;
    height: 0;
    clear: both;
    display: block;
}

hr::after {
    content: "···";
    color: rgba(8, 6, 14, 0.3);
    letter-spacing: 1em;
    padding-left: 1em;
    height: 0;
}

dl {
    margin-left:-1.25rem;
}

dt {
    margin: 0.8em 0 0 2.3rem;
    font-size: 0.8333rem;
    line-height: 1.3000;
}

mark {
    background-color:rgba(8, 6, 14, 0.3);
    padding: 0 0.22em;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title], time[datetime] {
    border-bottom:1px dotted rgba(8, 6, 14, 0.3);
    cursor:help;
}

time[datetime] {
    cursor:pointer;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

thead {
    border-bottom: solid 1px rgba(8, 6, 14, 0.3);
}

thead th {
    text-align:center;
}

tbody th, thead th:first-child {
    border-right: solid 1px rgba(8, 6, 14, 0.3);
    padding-right: 0.85em;
}

th {
  text-align:right;
}

td {
    padding: 0.3em 1em;
}

caption {
    text-align:left;
    caption-side:bottom;
    padding-top: .5em;
}

input, select {
    vertical-align:middle;
}

blockquote {
  border-left: 8px solid rgba(8, 6, 14, 0.3);
  margin: 0 1.5em;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
}

cite {
    float:right;
}

.flex-img {
	width: 100%;
	display: block;
	margin: 0 auto;
}

.flex-img-small {
	width: 30%;
	display: block;
	margin: 0 auto;
}

.space-none {
	margin-bottom: 0;
}

.space-less {
	margin-bottom: 0.5em;
}

.space-above {
	margin-top: 1.5rem;
}

.home-content {
	position:relative;
	text-align:center;
}

.intro-content {
	position:absolute;
	bottom: 3em;
	margin: 0 auto;
	color: #fff;
	z-index:900;
}