# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- Jared Lebel (Voice Over)
- Shawna (Voice Over)
- Hasan Yavuz (Voice Over)
- Mark Collantes (Keyboard Only)
- Chelsey Frohlick (Keyboard Only)
- Evan Grice (Keyboard Only)

## Tasks

1. Go to Shop page
2. Browse all in Bevel brand
3. Purchase elements in cart

---

## Individual Results & Observations

### {Jared Lebel}

- He had trouble finding the navigation elements in the voiceover

### {Shawna Guy}

- Completed tasks succesfully but found "I must have it" confusing

### {Hasan Yavuz}

- Completed tasks successfully

### {Mark Collantes}

- Completed tasks successfully

### {Chelsey Frohlick}

- Completed tasks successfully

### {Evan Grice}

- Completed tasks successfully

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Fix visibility of nav links

### Serious, Causes Frustration, May Hinder Completion

- 

### Minor, Annoying, Won’t Hinder Completion

- Change "must have it" to "add to cart"