---
layout: default
title: Home
---

<div class="home-content grid">
	<img class="flex-img" src="images/home-image.jpg">
	<p class="peta intro-content unit unit-s-1 unit-m-1 unit-l-1">34 years of class and experience</p>
</div>

<div class="grid product-group">
	<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 pad-bottom pad-top">
		{% include promo-small.html prodtitle="Pretty Glasses" desc="These glasses are awesome and quite wonderful." image="images/glasses-main.jpg"%}
	</div>
	<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 pad-bottom pad-top">
		{% include promo-small.html prodtitle="Pretty Glasses" desc="These glasses are awesome and quite wonderful." image="images/glasses-main.jpg"%}
	</div>
	<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 pad-bottom pad-top">
		{% include promo-small.html prodtitle="Pretty Glasses" desc="These glasses are awesome and quite wonderful." image="images/glasses-main.jpg"%}
	</div>
</div>