---
layout: default
title: Home
---

<img class="flex-img" src="images/home-image.jpg">

<div class="island-double grid">
	<p class="unit unit-s-1 unit-m-1 unit-l-1 pad-top fancy-big">Welcome to Albert! We hope you enjoy your experience shopping with us. We are the original optical store in the historic Ottawa, and have been an integral part of the community since 1986. Husband and wife team Bruce and Wendy Tobin work closely together in order to maintain Optical Excellence’s friendly, inviting atmosphere. It is thanks to our clients that we continue to make an indelible impression on the local community with our brand of humour and outstanding  service.</p>
</div>

<div class="grid product-group">
	<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 pad-bottom">
		{% include promo-small.html prodtitle="Ray Ban Wayfarers" desc="These glasses are awesome and quite wonderful." image="images/glasses-main.jpg"%}
	</div>
	<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 pad-bottom">
		{% include promo-small.html prodtitle="Nyko Badassery" desc="These glasses are awesome and quite wonderful." image="images/glasses/glasses2.jpg"%}
	</div>
	<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 pad-bottom">
		{% include promo-small.html prodtitle="Fancy Red" desc="These glasses are awesome and quite wonderful." image="images/glasses/glasses1.jpg"%}
	</div>
</div>

<div class="grid product-group">
	<div class="unit unit-s-1 unit-m-1 unit-l-1 pad-bottom">
		{% include promo-large.html prodtitle="Pretty Glasses" desc="These glasses are awesome and quite wonderful." image="images/glasses/glasses-side.jpg" image1="images/glasses/glasses-side-1.jpg" image2="images/glasses/glasses-side-2.jpg" image3="images/glasses/glasses-side-3.jpg" %}
	</div>
</div>