---
layout: default
title: Search Results
meta: "your shopping search results"
showbanner: yes
bannertext: Search Results
---

<div class="island-double">
	<p class="unit unit-s-1 unit-m-1 unit-l-1 pad-top fancy-big">We have found 6 search results: </p>

	<div class="grid product-group">
		<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 pad-bottom">
			{% include promo-small.html prodtitle="Ray Ban Wayfarers" desc="These glasses are awesome and quite wonderful." image="images/glasses-main.jpg" prodlink="/glasses/bevel/bevel1/"%}
		</div>
		<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 pad-bottom">
			{% include promo-small.html prodtitle="Nyko Badassery" desc="These glasses are awesome and quite wonderful." image="images/glasses/glasses2.jpg prodlink="/glasses/bevel/bevel2/"%}
		</div>
		<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 pad-bottom">
			{% include promo-small.html prodtitle="Fancy Red" desc="These glasses are awesome and quite wonderful." image="images/glasses/glasses1.jpg" prodlink="/glasses/blac/blac1/%}
		</div>
	</div>

	<div class="grid product-group">
		<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 pad-bottom">
			{% include promo-small.html prodtitle="Nyko Badassery" desc="These glasses are awesome and quite wonderful." image="images/glasses/glasses2.jpg" prodlink="/glasses/blac/blac2/%}
		</div>
		<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 pad-bottom">
			{% include promo-small.html prodtitle="Fancy Red" desc="These glasses are awesome and quite wonderful." image="images/glasses/glasses1.jpg" prodlink="/glasses/bugatti/bugatti1/%}
		</div>
		<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 pad-bottom">
			{% include promo-small.html prodtitle="Ray Ban Wayfarers" desc="These glasses are awesome and quite wonderful." image="images/glasses-main.jpg" prodlink="/glasses/bugatti/bugatti2/%}
		</div>
	</div>
	
</div>
