# User Testing Report

User testing was conducted by Daniela Chavez on Mon March 24th between the times of 4:15pm and {end time} with the following participants:

- Hasan Yavuz
- Chelsey Frohlick
- Shawna Guy

## Tasks

1. Purchase a Bugatti frame
2. Browse all items in Bevel brand
3. Purchase the Blac Thick Wayfarer

---

## Individual Results & Observations

### Hasan Yavuz

- He clicked on the link as expected
- Had troubles because links aren't correct
- Asked how to get back home

### Chelsey Frohlick

- Completed tasks as expected

### Evan Grice

- Completed tasks as expected

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Fix homepage links so they lead where they say they're leading

### Serious, Causes Frustration, May Hinder Completion

- Search doesn't give actual resuts.

### Minor, Annoying, Won’t Hinder Completion

- Change "I must have it" to "add to cart"