# User Testing Report

User testing was conducted by Daniela Chavez on Mon March 24th between the times of 4:15pm and {end time} with the following participants:

- Hasan Yavuz
- Chelsey Frohlick
- Shawna Guy

## Tasks

1. Purchase a Bugatti frame
2. Browse all items in Bevel brand
3. Purchase the Blac Thick Wayfarer

---

## Individual Results & Observations

### Hasan Yavuz

- He clicked on the link as expected
- Had troubles because links aren't correct
- Asked how to get back home

### Chelsey Frohlick

- {He clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {He asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

### Evan Grice

- {She clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {She asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Links weren't linking to correct frame
- Some brands displayed on homepage were not the same 

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.