<nav class="grid nav nav-top" data-state="collapsed">
	<ul>
		<li class="unit unit-s-1 unit-m-1-3 unit-l-1-3 brand mega">
			<a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home</a>
		</li>
		<li class="unit unit-s-1 unit-m-1-3 unit-l-1-3 brand mega">
			<a href="{{site.baseurl}}/about" class="{% if page.url contains 'about' %}current{% endif %}">About</a>
		</li>
		<li class="unit unit-s-1 unit-m-1-3 unit-l-1-3 brand mega">
			<a href="{{site.baseurl}}/glasses/" class="{% if page.url contains 'glasses' %}current{% endif %}">Shop</a>
		</li>
	</ul>
</nav>
