<div class="promo-large grid">
	<div class="media unit unit s-1 unit-m-1-3 unit-l-1-3">
		<img class="flex-img" src="{{site.baseurl}}/{{include.image}}" alt="glasses">
	</div>
	<div class="unit unit s-1 unit-m-2-3 unit-l-2-3">
		<h2 class="mega space-less space-above">{{include.prodtitle}}</h2>
		<p>{{include.desc}}</p>
		<ul class="list-group unit unit-s-1 unit-m-1 unit-l-1 grid">
			<li class="unit unit-s-1-3 unit-m-1-3 unit-l-1-3 list-group-item lg-inline-item preview-item"><img src="{{site.baseurl}}/{{include.image1}}" alt="" class="flex-img"></li>
			<li class="unit unit-s-1-3 unit-m-1-3 unit-l-1-3 list-group-item lg-inline-item preview-item"><img src="{{site.baseurl}}/{{include.image2}}" alt="" class="flex-img"></li>
			<li class="unit unit-s-1-3 unit-m-1-3 unit-l-1-3 list-group-item lg-inline-item preview-item"><img src="{{site.baseurl}}/{{include.image3}}" alt="" class="flex-img"></li>
		</ul>
		<a class="btn micro space-above unit unit-s-1 unit-m-1-3 unit-l-1-3" href="#">Add to Cart</a>
	</div>
</div>