---
layout: default
category: brand
brand_name: Bugatti
title: List of all the glasses
showbanner: idemandit
bannertext: Shop Our Glasses
meta: "The story behind Albert Opticians"
brand_image: bugatti.jpg

---

<a href="{{site.baseurl}}/glasses/" class="unit unit-s-1 unit-m-1 unit-l-1 nav-bar brand giga">< Back to Brands</a>

<div class="island">
	<h2 class="pad-top">Bugatti</h2>
	<ul class="grid">
		{% for glasses in site.pages %}
			{% if glasses.category == 'bugatti' %}
			<li class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
				<a href="{{site.baseurl}}{{glasses.url}}">
					<img src="{{site.baseurl}}/images/{{glasses.image}}" alt="" class="max-height">
					<p class="brand center-align giga pad-top">{{glasses.name}}</p>
				</a>
			</li>
			{% endif %}
		{% endfor %}
	</ul>	
</div>