@charset "UTF-8";
/* CSS Document */

/*Colors:
Body Black: #08060e
Charcoal: #333031/181718
Light Charcoal: #302f34
Semi-transparent charcoal:  color: rgba(8, 6, 14, 0.3)
Selection grey: rgba(181, 181, 181, 0.3)
*/

header {
	background-color: #181718;
	border-bottom: solid 1px #181718;
	position:fixed;
	width:100%;
	z-index:8000;
}

.logo {
	color: #fff;
	margin-left: 1rem;
	margin-top: .65rem;
	float: left;
}

.shopping-cart {
	height: 2.5rem;
}

.right-align {
	float: right;
}

.banner {
	position:relative;
	background: #181718 url("../images/banner.jpg") no-repeat center center;
	background-size: cover;
	padding: 10rem 0 5rem;
}

.banner h2 {
	text-align:center;
	color: #FFF;
}

.current {
	background-color: rgba(8, 6, 14, 0.3);
}

nav {
	width:100%;
	position:fixed;
	overflow:hidden;
	height: auto;
	text-align:center;
	background-color:#303030;
	top: 4rem;
}

nav ul {
	width: 100%;
}

nav ul li {
	position:relative;
	top: 0rem;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	color:#fff;
	line-height:4rem;
	text-align:left;
	display: block;
	height: 4rem;
	background: transparent url("../images/nav-icon.svg") no-repeat left center;
}

nav a, 
nav a:link,
nav a:visited{
	display: block;
	text-align:center;
	text-decoration: none;
    color: #fff;
	padding: 1rem;
}

.indent {
	position:relative;
	left: 4.5rem;
}

/*Toggle Nav*/

.nav-top {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    -webkit-transition: max-height 250ms linear;
}

.nav-top[data-state="expanded"]{
    clip: auto;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
	z-index:9000;
	
}